--
-- PostgreSQL database dump
--

\restrict Q70pIDZh93Z2b3Zftqk5TnOgpRXtvkotHjTN25Nb7flTsHeRDT6XNUfs6iILLGD

-- Dumped from database version 18.1
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: -
--

-- *not* creating schema, since initdb creates it


--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON SCHEMA public IS '';


--
-- Name: comment_status; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.comment_status AS ENUM (
    'ACTIVE',
    'APPROVED',
    'HIDDEN'
);


--
-- Name: role_enum; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.role_enum AS ENUM (
    'USER',
    'ADMIN'
);


--
-- Name: userbook_status; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.userbook_status AS ENUM (
    'READ',
    'READING',
    'NOT_READ'
);


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


--
-- Name: book; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.book (
    id integer NOT NULL,
    title character varying(255) NOT NULL,
    page_count integer NOT NULL,
    author character varying(255) NOT NULL,
    publishing_date character varying(255) NOT NULL,
    summary text,
    publisher character varying(64),
    isbn character varying(13),
    cover character varying(255),
    "averageRating" double precision DEFAULT 0 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


--
-- Name: book_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.book_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: book_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.book_id_seq OWNED BY public.book.id;


--
-- Name: comment; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.comment (
    id integer NOT NULL,
    title character varying(255) NOT NULL,
    content text NOT NULL,
    date timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    status public.comment_status DEFAULT 'ACTIVE'::public.comment_status NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "userId" integer NOT NULL,
    "bookId" integer NOT NULL
);


--
-- Name: commentReport; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."commentReport" (
    id integer NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "commentId" integer NOT NULL,
    "userId" integer NOT NULL
);


--
-- Name: commentReport_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public."commentReport_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: commentReport_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public."commentReport_id_seq" OWNED BY public."commentReport".id;


--
-- Name: comment_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.comment_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: comment_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.comment_id_seq OWNED BY public.comment.id;


--
-- Name: rate; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.rate (
    id integer NOT NULL,
    rating smallint NOT NULL,
    "userId" integer NOT NULL,
    "bookId" integer NOT NULL
);


--
-- Name: rate_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.rate_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: rate_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.rate_id_seq OWNED BY public.rate.id;


--
-- Name: role; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.role (
    id integer NOT NULL,
    name public.role_enum NOT NULL
);


--
-- Name: role_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.role_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: role_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.role_id_seq OWNED BY public.role.id;


--
-- Name: user; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."user" (
    id integer NOT NULL,
    username character varying(64) NOT NULL,
    email character varying(255) NOT NULL,
    password character varying(64) NOT NULL,
    "isPrivate" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "roleId" integer NOT NULL,
    description text,
    "profilePicture" character varying(500)
);


--
-- Name: user_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.user_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: user_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.user_id_seq OWNED BY public."user".id;


--
-- Name: userbook; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.userbook (
    id integer NOT NULL,
    status public.userbook_status DEFAULT 'NOT_READ'::public.userbook_status NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "userId" integer NOT NULL,
    "bookId" integer NOT NULL
);


--
-- Name: userbook_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.userbook_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: userbook_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.userbook_id_seq OWNED BY public.userbook.id;


--
-- Name: book id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.book ALTER COLUMN id SET DEFAULT nextval('public.book_id_seq'::regclass);


--
-- Name: comment id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.comment ALTER COLUMN id SET DEFAULT nextval('public.comment_id_seq'::regclass);


--
-- Name: commentReport id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."commentReport" ALTER COLUMN id SET DEFAULT nextval('public."commentReport_id_seq"'::regclass);


--
-- Name: rate id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.rate ALTER COLUMN id SET DEFAULT nextval('public.rate_id_seq'::regclass);


--
-- Name: role id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.role ALTER COLUMN id SET DEFAULT nextval('public.role_id_seq'::regclass);


--
-- Name: user id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."user" ALTER COLUMN id SET DEFAULT nextval('public.user_id_seq'::regclass);


--
-- Name: userbook id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.userbook ALTER COLUMN id SET DEFAULT nextval('public.userbook_id_seq'::regclass);


--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: book; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: comment; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.comment (id, title, content, date, status, "createdAt", "updatedAt", "userId", "bookId") FROM stdin;
1	Test	Je suis un commentaire	2026-02-22 17:58:05.543	ACTIVE	2026-02-22 17:58:05.551	2026-02-22 17:58:05.551	1	1607
\.


--
-- Data for Name: commentReport; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."commentReport" (id, "createdAt", "commentId", "userId") FROM stdin;
\.


--
-- Data for Name: rate; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.rate (id, rating, "userId", "bookId") FROM stdin;
1	4	1	1607
\.


--
-- Data for Name: role; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.role (id, name) FROM stdin;
1	ADMIN
2	USER
\.


--
-- Data for Name: user; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."user" (id, username, email, password, "isPrivate", "createdAt", "updatedAt", "roleId", description, "profilePicture") FROM stdin;
1	Thomas	truc1@mail.com	$2b$12$OIT3vBBr4nrWkAAdm72EaOzShB1GRjGECAsvpV67h2hI.bf7WgmJW	f	2026-02-22 17:45:55.51	2026-02-22 17:45:55.51	1	\N	\N
\.


--
-- Data for Name: userbook; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.userbook (id, status, "createdAt", "updatedAt", "userId", "bookId") FROM stdin;
2	NOT_READ	2026-02-22 18:31:57.183	2026-02-22 18:31:57.183	1	1643
3	NOT_READ	2026-02-22 18:37:06.731	2026-02-22 18:37:06.731	1	1669
4	NOT_READ	2026-02-22 18:37:09.048	2026-02-22 18:37:09.048	1	1670
5	NOT_READ	2026-02-22 18:37:09.629	2026-02-22 18:37:09.629	1	1671
6	NOT_READ	2026-02-22 18:37:10.085	2026-02-22 18:37:10.085	1	1672
\.


--
-- Name: book_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.book_id_seq', 1, true);


--
-- Name: commentReport_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."commentReport_id_seq"', 1, false);


--
-- Name: comment_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.comment_id_seq', 1, true);


--
-- Name: rate_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.rate_id_seq', 1, true);


--
-- Name: role_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.role_id_seq', 2, true);


--
-- Name: user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.user_id_seq', 1, true);


--
-- Name: userbook_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.userbook_id_seq', 6, true);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: book book_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.book
    ADD CONSTRAINT book_pkey PRIMARY KEY (id);


--
-- Name: commentReport commentReport_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."commentReport"
    ADD CONSTRAINT "commentReport_pkey" PRIMARY KEY (id);


--
-- Name: comment comment_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.comment
    ADD CONSTRAINT comment_pkey PRIMARY KEY (id);


--
-- Name: rate rate_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.rate
    ADD CONSTRAINT rate_pkey PRIMARY KEY (id);


--
-- Name: role role_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.role
    ADD CONSTRAINT role_pkey PRIMARY KEY (id);


--
-- Name: user user_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."user"
    ADD CONSTRAINT user_pkey PRIMARY KEY (id);


--
-- Name: userbook userbook_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.userbook
    ADD CONSTRAINT userbook_pkey PRIMARY KEY (id);


--
-- Name: book_isbn_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX book_isbn_key ON public.book USING btree (isbn);


--
-- Name: commentReport_commentId_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "commentReport_commentId_idx" ON public."commentReport" USING btree ("commentId");


--
-- Name: commentReport_commentId_userId_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "commentReport_commentId_userId_key" ON public."commentReport" USING btree ("commentId", "userId");


--
-- Name: commentReport_userId_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "commentReport_userId_idx" ON public."commentReport" USING btree ("userId");


--
-- Name: comment_bookId_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "comment_bookId_idx" ON public.comment USING btree ("bookId");


--
-- Name: comment_userId_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "comment_userId_idx" ON public.comment USING btree ("userId");


--
-- Name: rate_userId_bookId_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "rate_userId_bookId_key" ON public.rate USING btree ("userId", "bookId");


--
-- Name: role_name_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX role_name_key ON public.role USING btree (name);


--
-- Name: user_email_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX user_email_key ON public."user" USING btree (email);


--
-- Name: user_username_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX user_username_key ON public."user" USING btree (username);


--
-- Name: userbook_userId_bookId_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "userbook_userId_bookId_key" ON public.userbook USING btree ("userId", "bookId");


--
-- Name: commentReport commentReport_commentId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."commentReport"
    ADD CONSTRAINT "commentReport_commentId_fkey" FOREIGN KEY ("commentId") REFERENCES public.comment(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: commentReport commentReport_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."commentReport"
    ADD CONSTRAINT "commentReport_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."user"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: comment comment_bookId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.comment
    ADD CONSTRAINT "comment_bookId_fkey" FOREIGN KEY ("bookId") REFERENCES public.book(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: comment comment_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.comment
    ADD CONSTRAINT "comment_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."user"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: rate rate_bookId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.rate
    ADD CONSTRAINT "rate_bookId_fkey" FOREIGN KEY ("bookId") REFERENCES public.book(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: rate rate_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.rate
    ADD CONSTRAINT "rate_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."user"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: user user_roleId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."user"
    ADD CONSTRAINT "user_roleId_fkey" FOREIGN KEY ("roleId") REFERENCES public.role(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: userbook userbook_bookId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.userbook
    ADD CONSTRAINT "userbook_bookId_fkey" FOREIGN KEY ("bookId") REFERENCES public.book(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: userbook userbook_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.userbook
    ADD CONSTRAINT "userbook_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."user"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict Q70pIDZh93Z2b3Zftqk5TnOgpRXtvkotHjTN25Nb7flTsHeRDT6XNUfs6iILLGD

